@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview {
  background-color: #E2F0FF;
  padding: 200px 120px;
}

.preview .img {
  background-image: url(../assets/1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 525px;
  height: 390px;
}

.preview h1 {
  width: 400px;
  font: 600 26px "Poppins";
  color: #292731;
  margin: 20px auto;
  text-align: center;
}

.preview p {
  width: 400px;
  font: 400 16px "Poppins";
  color: #455360;
  margin: auto;
  text-align: center;
}

.login {
  padding: 200px 120px;
  background-color: #F5F5F5;
}

.welcome .imgHand {
  background-image: url(../assets/hand.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 36px;
  height: 36px;
}

.welcome h1 {
  font: 600 30px "Poppins";
  color: #292731;
  margin: 12px auto 5px;
}

.welcome p {
  font: 400 16px "Poppins";
  color: #292731;
}

.authorization {
  margin-top: 45px;
}

.authorization .help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authorization .help p {
  font: 500 16px "Poppins";
  color: #455360;
}

.authorization .help .imgInfo {
  background-image: url(../assets/information.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  margin: 35px 0 10px;
}

.authorization .inpOne input {
  width: 440px;
  height: 40px;
  border: 2px solid black;
  background: #ECF2F7;
  border-radius: 5px;
  padding-left: 20px;
  outline: none;
}
.authorization .inpOne input::-webkit-input-placeholder {
  font: 400 16px "Poppins";
  color: #7B8389;
}
.authorization .inpOne input::-moz-placeholder {
  font: 400 16px "Poppins";
  color: #7B8389;
}
.authorization .inpOne input:-ms-input-placeholder {
  font: 400 16px "Poppins";
  color: #7B8389;
}
.authorization .inpOne input::-ms-input-placeholder {
  font: 400 16px "Poppins";
  color: #7B8389;
}
.authorization .inpOne input::placeholder {
  font: 400 16px "Poppins";
  color: #7B8389;
}

.authorization p {
  font: 500 16px "Poppins";
  color: #455360;
  margin: 30px 0 10px;
}

.authorization .inpTwo input {
  width: 440px;
  height: 40px;
  border: 2px solid black;
  background: #ECF2F7;
  border-radius: 5px;
  padding-left: 20px;
  outline: none;
}
.authorization .inpTwo input::-webkit-input-placeholder {
  font: 400 16px "Poppins";
  color: #7B8389;
}
.authorization .inpTwo input::-moz-placeholder {
  font: 400 16px "Poppins";
  color: #7B8389;
}
.authorization .inpTwo input:-ms-input-placeholder {
  font: 400 16px "Poppins";
  color: #7B8389;
}
.authorization .inpTwo input::-ms-input-placeholder {
  font: 400 16px "Poppins";
  color: #7B8389;
}
.authorization .inpTwo input::placeholder {
  font: 400 16px "Poppins";
  color: #7B8389;
}

.authorization .btn {
  background: #4C70FF;
  border-radius: 8px;
  text-align: center;
  padding: 12px 0;
  margin: 40px 0 20px;
  font: 500 20px "Poppins";
  color: #FFFFFF;
}

.jump {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jump p {
  font: 500 16px "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #292731;
}

.jump .sign {
  color: #66BCE8;
  margin-left: 5px;
}